.status-period{
  height: 50px;

  padding: 10px 25px;
  border-radius: 5px;

  background-color: var(--nr-military-time-bg);
  color: var(--nr-military-time-color);

  font-size: 1em;
  font-weight: bold;
}
